
  .box {
    margin-top: 5rem;
  }

  input {
    font-weight: 300;
  }
  p {
    font-weight: 700;
  }
  p.subtitle {
    padding-top: 1rem;
  }
  
  .login-hr{
    border-bottom: 1px solid black;
  }
  
  .has-text-black{
    color: black;
  }
  
  .field{
    padding-bottom: 10px;
  }
  
  .fa{
    margin-left: 5px; 
  }